.AuthorizationState
{
    line-height: 1.35;
}
.AuthorizationState,
.AuthorizationState .ListBox
{
    width: 360px;
}
.AuthorizationState .Heading
{
    font-size: 32px;
    margin: 40px auto 15px;
    width: fit-content;
}
.AuthorizationState .AuthorizationMessage
{
    color: rgba(0, 0, 0, .4);
    width: 250px;
    text-align: center;
    margin: 0 auto 48px;
}
.AuthorizationState .ComboBox,
.AuthorizationState .ComboBox > .Box,
.AuthorizationState .TextBox,
.AuthorizationState .TextBox > .Box
{
    display: block;
    width: 100%;
}
.AuthorizationState .TextBox > .Box
{
    
}
