.ChatFeed
{
    position: absolute;
    width: 420px;
    height: 100%;
    box-sizing: border-box;
    min-width: 250px;
    background: #fff;
    border-right: 1px solid #dadce0;
    overflow: auto;
    padding: 5px 0;
    z-index: 1;
}
.ChatFeed .FeedProgress
{
    display: block;
    padding: 30px;
    text-align: center;
}
.ChatFeed:not([aria-busy=true]) .FeedProgress
{
    opacity: 0;
}
.ChatFeed .ChatCard:hover,
.ChatFeed .ChatCard:focus,
.ChatFeed:not(.focus):not(:hover) .ChatCard[aria-expanded=true]
{
    background-color: var(--background-color--hover);
}
