.CheckBox
{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    outline: none;
}
.CheckBox label
{
    vertical-align: middle;
}
.CheckBox svg
{
    vertical-align: middle;
    margin: 0 20px;
}
.CheckBox svg *
{
    fill: var(--border-color__widget);
}
.CheckBox:hover svg *
{
    fill: var(--border-color__hover);
}
.CheckBox:focus svg *,
.CheckBox[aria-checked=true] svg *
{
    fill: var(--color__text-highlight);
}
.CheckBox:focus label
{
    color: var(--color__text-highlight);
}
.CheckBox:not([aria-disabled=true]) label
{
    cursor: pointer;
}
.CheckBox[aria-checked=true] svg .CheckBox_checked_false,
.CheckBox:not([aria-checked=true]) svg .CheckBox_checked_true
{
    fill: transparent;
}
@media (max-width: 499px)
{
    .CheckBox
    {
        display: block;
        width: fit-content;
        max-width: 100%;
        box-sizing: border-box;
    }
}
