.ComboBox
{
    display: inline-block;
    position: relative;
    margin: var(--margin__widget);
}
.ComboBox .TextBox
{
    margin: 0;
}
.ComboBox[aria-invalid=true] .TextBox:not(.focus) > .Box
{
    border-color: #f00;
}
@media (max-width: 499px)
{
    .ComboBox
    {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
    .ComboBox .ListBox
    {
        max-width: 80%;
    }
}
