.CountryOption
{
    display: flex;
    justify-content: space-between;
}
.CountryOption .CountryCode
{
    color: #aaa;
}
.CountryOption .CountryName
{
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}
