.Label
{
    position: absolute;
    border: 1px solid transparent;
    padding:
            var(--Button--padding-top)
            var(--TextBox-Box--padding-right)
            var(--Button--padding-bottom)
            var(--TextBox-Box--padding-left);
    display: block;
    color: var(--Label--color);
    font-size: var(--Label--font-size);
    margin: var(--Label--margin);
}
[aria-disabled=true] > .Label,
.disabled > .Label
{
    opacity: .5;
}
[data-value] > .Label
{
    display: none;
}
