.Label
{
    position: absolute;
    border: 1px solid transparent;
    padding: 15px 15px 15px 15px;
    display: block;
    color: rgba(0, 0, 0, .3);
    width: 100%;
    box-sizing: border-box;
}
[data-value] > .Label
{
    font-size: .8rem;
    padding: 0 3px;
    margin-top: -9px;
    margin-left: 12px;
    background: #fff;
    color: rgba(0, 0, 0, .4);
    width: auto;
}
[data-value].focus > .Label
{
    color: var(--color__text-highlight);
}
.disabled > .Label,
[aria-disabled=true] > .Label
{
    opacity: .5;
}
[aria-invalid=true] > .Label,
[aria-invalid=true].focus > .Label
{
    color: #f00;
}
