.MessageContent
{
    position: relative;
}
.MessageContent,
.MessageContent p,
.MessageContent .FormattedText
{
    line-height: 1.4;
}
.MessageContent p
{
    margin: 18px 0;
}
.MessageContent img,
.MessageContent video
{
    max-width: 100%;
}
.MessageContent .CallTimeInfo,
.MessageContent .FileSizeInfo
{
    color: rgba(0, 0, 0, .4);
}
.MessageContent .FileSizeInfo
{
    display: block;
}
.MessageContent .ChatPhoto
{
    width: 120px;
    height: 120px;
    margin: 10px auto 15px;
    display: block;
}
.MessageContent.MessageTypeService
{
    margin: 0 auto;
}
