.Option
{
    display: block;
    position: relative;
    cursor: pointer;
    padding: var(--padding__widget);
    overflow: hidden;
    text-overflow: ellipsis;
}
.Option:hover
{
    background: var(--background-color__hover);
}
.Option[aria-disabled=true]
{
    color: var(--color__disabled);
    cursor: var(--cursor__disabled);
    background: transparent;
    opacity: .5;
}
.Option[aria-hidden=true]
{
    display: none;
}
