html
{
    height: 100%;
}
a[href]
{
    color: var(--color-highlight);
    outline: none;
}
a[href]:not(:hover):not(:focus)
{
    text-decoration: none;
}
.Page
{
    font-family: Arial, sans-serif;
    min-width: 320px;
    height: 100%;
    margin: 0;
}
.Page > .Content
{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1680px;
    margin: 0 auto;
    background: #e6ebee;
}
.Page > .Progress::before
{
    padding: 50px;
}
@media (min-width: 1680px)
{
    .Page > .Content
    {
        border-left: 1px solid #dadce0;
        border-right: 1px solid #dadce0;
    }
}
