.Popup
{
    position: fixed;
    z-index: 1;
    display: block;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    transition: opacity .2s, transform .2s;
}
.Popup > .Inner
{
    background: #fff;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    height: 100%;
}
.Popup[hidden=false-true],
.Popup[hidden=true-false]
{
    opacity: 0;
    transform: translateY(1em);
}
.Popup[hidden='']
{
    display: none;
}
