:root
{
    --color__text-highlight: #4ea4f6;

    --padding__widget: 15px;
    --border__widget: 1px solid rgba(0, 0, 0, .15);
    --margin__widget: 25px 15px 25px 0;

    --background-color__hover: rgba(112, 117, 121, .08);
    --border-color__hover: rgba(0, 0, 0, .3);

    --box-shadow__focus: 0 0 0 1px var(--color__text-highlight) inset;

    --background-color__active: #f3f1ed;

    --color__disabled: rgba(0, 0, 0, .5);
    --background__disabled: #e8e8e8;
    --border-color__disabled: transparent;
    --cursor__disabled: default;

    --background__checked_active: rgba(103, 192, 255, .7);
    --background__checked_disabled: rgba(0, 0, 0, .15);

    --opacity__readonly: .7;
}
