.TextBox
{
    display: inline-block;
    position: relative;
    margin: var(--margin__widget);
}
.TextBox > .Box
{
    display: inline-block;
    box-sizing: border-box;
    background: transparent;
    width: 200px;
    padding: 0 15px 0;
    border: var(--border__widget);
    border-radius: var(--border-radius__widget);
    vertical-align: middle;
}
.TextBox .Edit
{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    width: 100%;
    padding: 15px 0 15px;
}
.TextBox .Placeholder
{
    position: absolute;
    padding: 15px 0 15px;
    color: #aaa;
}
.TextBox .ClearButton
{
    position: absolute;
    right: 0;
    border-color: transparent;
    box-shadow: none;
    margin: 0;
}
.TextBox .ClearButton:not(:hover)
{
    opacity: .4;
}
.TextBox > .Label
{
    cursor: text;
}
.TextBox:hover > .Box
{
    border-color: var(--border-color__hover);
}
.TextBox.focus > .Box
{
    border-color: var(--color__text-highlight);
    box-shadow: var(--box-shadow__focus);
}
.TextBox[aria-readonly=true]
{
    opacity: var(--opacity__readonly);
}
.TextBox[aria-disabled=true]
{
    color: var(--color__disabled);
    cursor: var(--cursor__disabled);
}
.TextBox[aria-disabled=true] > .Box
{
    background: var(--background__disabled);
    border-color: var(--border-color__disabled);
}
.TextBox[aria-disabled=true]:not([data-value]) .Edit::after
{
    content: ' ';
}
.TextBox[aria-invalid=true] > .Box
{
    border-color: #f00;
}
.TextBox[aria-multiline] .Edit
{
    white-space: normal;
    overflow: auto;
    height: 60px;
}
.TextBox[data-value] .Placeholder,
.TextBox:not([data-value]) .ClearButton
{
    display: none;
}
@media (max-width: 499px)
{
    .TextBox,
    .TextBox > .Box
    {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
}
